<% provide(:title, "Dashboard") %>
<!DOCTYPE html>kend App</h1>
    <p>
      this is a dashboard page for a
      <a href="http://www.woodteam.pt">Woodteam Website</a>
      test application.
    </p>
