<% provide(:title, "Login") %>
<!DOCTYPE html>
    <h1>Backend App</h1>
    <p>
      this is a login page for a
      <a href="http://www.woodteam.pt">Woodteam Website</a>
      test application.
    </p>
